<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
{% include 'head.html' %}
<body>

<!-- Header -->
{% include 'header.html' %}

<!-- Main -->
<section id="main">
    <div class="inner">
        <header class="major special">
            <h1>Contact Forms</h1>
            <p>On this page you can find all the contact forms to require rights you are entitled as participant to this
                research study.</p>
        </header>
        <h4>General contact or questions</h4>
        <form method="post" action="#">
            <div class="field half first">
                <label for="name">Name</label>
                <input type="text" name="name" id="name"/>
            </div>
            <div class="field half">
                <label for="email">Email</label>
                <input type="text" name="email" id="email"/>
            </div>
            <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="6"></textarea>
            </div>
            <ul class="actions">
                <li><input type="submit" value="Send Message" class="alt"/></li>
            </ul>
        </form>
        <h4>Require your child's data</h4>
        <p></p>
        <h4>Require your child's data to be deleted</h4>
        <p></p>
        <h4>Require to be informed about the results of this research study</h4>
        <p></p>
        <h4>Require to rectification of data </h4>
    </div>
</section>

<!-- Footer -->
<section id="footer">
    <div class="inner">
<!--        <header>-->
<!--            <h2>Get in Touch</h2>-->
<!--        </header>-->

        <div class="copyright">
            &copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images <a
                href="https://unsplash.com/">Unsplash</a>
        </div>
    </div>
</section>

<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/skel.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>

</body>
</html>