<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
{% include 'head.html' %}
<body>

<!-- Header -->
{% include 'header.html' %}

<!-- Main -->
<section id="main">
    <div class="inner">
        <header class="major special">
            <h1>Contact Forms</h1>
            <p>If you want to contact us, please email us at:<br>
                <a href="mailto:a.defreitassousa1@nuigalway.ie">a.defreitassousa1@nuigalway.ie</a><br>
                <a href="mailto:annanda.sousa@insight-centre.org">annanda.sousa@insight-centre.org</a> </p>
            You can use the emails above to:
            <li> General contact or questions</li>
            <li>Request your child's data</li>
            <li>Request your child's data to be deleted</li>
            <li>Request to be informed about the results of this research study</li>
            <li>Request to rectification of data</li>
        </header>
        <!--        <h4>General contact or questions</h4>-->
        <!--        <form onsubmit="return false;">-->
        <!--            <div class="field half first">-->
        <!--                <label for="name">Name</label>-->
        <!--                <input type="text" name="name" id="name"/>-->
        <!--            </div>-->
        <!--            <div class="field half">-->
        <!--                <label for="email">Email</label>-->
        <!--                <input type="text" name="email" id="email"/>-->
        <!--            </div>-->
        <!--            <div class="field">-->
        <!--                <label for="message">Message</label>-->
        <!--                <textarea name="message" id="message" rows="6"></textarea>-->
        <!--            </div>-->
        <!--            <ul class="actions">-->
        <!--                <li><input type="submit" id="form_contact" value="Send Message" class="alt"/></li>-->
        <!--            </ul>-->
        <!--        </form>-->
        <!--        <h4>Require your child's data</h4>-->
        <!--        <p></p>-->
        <!--        <h4>Require your child's data to be deleted</h4>-->
        <!--        <p></p>-->
        <!--        <h4>Require to be informed about the results of this research study</h4>-->
        <!--        <p></p>-->
        <!--        <h4>Require to rectification of data </h4>-->
    </div>
</section>

<!-- Footer -->
{% include 'footer.html' %}

<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/skel.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>

</body>
</html>