<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
{% include 'head.html' %}
<body>

<!-- Header -->
{% include 'header.html' %}

<!-- Main -->
<section id="main">
    <div class="inner">
        <header class="major special">
            <h1>Data Protection and Ethics</h1>
            <p>This research has been fully approved by the <a
                    href="https://www.nuigalway.ie/research-office/policiesandprocedures/researchethicscommittee/"
                    target="_blank">Research Ethics Committee</a> in National University of Ireland,
                Galway.</p>
        </header>
        <p>Every effort will be made to keep your child’s personal information confidential. This project is compliant
            with the recommendation of the General Data Protection Regulation (GDPR), a European regulation to protect
            the rights of people regarding their personal data.
            We conducted a <a href="https://www.nuigalway.ie/data-protection/staffandstudentresources/dataprotectionimpactassessments/" target="_blank">Data Protection Impact Assessment (DPIA)</a> and created a plan with measures to protect yours and
            your child’s personal data which was approved by both the NUI Galway’s Data Protection Officer and the NUI
            Galway’s Ethics Committee (an ethics committee that helps protect people involved in research).
            The measures include the following:
        <ul>
            <li>Keep yours and your child’s personal data stored in a secure, encrypted and password-protected server
                within NUI Galway premises (Data Science Institute/NUI Galway) for no longer than 3 years.
            </li>
            <li>Keep the storage server isolated from the internet, the only possible connection being from inside the
                building of Data Science Institute/NUI Galway.
            </li>
            <li>The only people who will have access to yours and your
                child’s personal data records are the researchers listed above.
            </li>
            <li>Keep the storage server isolated from the internet, the only possible connection being from inside the
                building of Data Science Institute/NUI Galway.
            </li>
            <li>
                The only people who will have access to yours and your child’s personal data records are the researchers
                listed above.
            </li>
            <li>After 3 years, all the personal data will be deleted.</li>
            <li>We are not going to share yours and your child’s personal data with anyone else.</li>
            <li>No information which could identify you or your child will be shared in publications about this study.
            </li>
        </ul>

        Please bear in mind that your child’s personal information may be disclosed if required by law.
        </p>
    </div>
</section>

<!-- Footer -->
{% include 'footer.html' %}

<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/skel.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>

</body>
</html>