<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
{% include 'head.html' %}
<body>

<!-- Header -->
{% include 'header.html' %}

<!-- Main -->
<section id="main">
    <div class="inner">
        <header class="major special">
            <h1>Documents</h1>
            <p>Thank you so much for considering to be part of this research. <br>You can find here all the documents
                with
                information to help you to decide if you want to be part of this research. I
                am happy to answer any question you have, just reach me by email: <br> <a
                        href="mailto:a.defreitassousa1@nuigalway.ie">a.defreitassousa1@nuigalway.ie </a> or <br><a
                        href="mailto:annanda.sousa@insight-centre.org">annanda.sousa@insight-centre.org </a></p>
        </header>
        <h4><a href="../static/documents/information_sheet.pdf">Information Sheet</a></h4>
        <h4><a href="../static/documents/information_sheet_summary.pdf">Information Sheet Summary</a></h4>
        <h4><a href="../static/documents/consent_form.pdf">Consent form</a></h4>
        <h4><a href="../static/documents/letter_to_parents.pdff">Letter to Parents</a></h4>
<!--        <h4><a href="../static/documents/consent_form.pdf">Flyer</a></h4>-->

    </div>
</section>

<!-- Footer -->
{% include 'footer.html' %}

<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/skel.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>

</body>
</html>