<header id="header">
    <div class="inner">
        <!--					<a href="index.html" class="logo">introspect</a>-->
        <nav id="nav">
            <a href="/">Home</a>
            <a href="/about_project">About the Project</a>
            <a href="/researchers">Researchers</a>
            <a href="/data_protection_ethics">Data protection</a>
            <a href="/information">Information to participants</a>
            <a href="/contact">Contact</a>

<!--            <a href="/generic">Generic</a>-->
<!--            <a href="/elements">Elements</a>-->
        </nav>
    </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>