<head>
    <title>Emotion Detection System for Children with Level 1 Diagnosis of Autism</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../static/assets/css/main.css"/>

    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/skel.min.js"></script>
    <script src="../static/assets/js/util.js"></script>
    <script src="../static/assets/js/main.js"></script>
    <script src="../static/assets/js/projects_website.js"></script>

</head>