<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
{% include 'head.html' %}
<body>

<!-- Header -->
{% include 'header.html' %}
<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h1>Personal-independent Emotion Detection Model for Children with High-Functioning ASD</h1>
        <p id="banner_message">Data Science Institute @ NUI Galway is looking for children (age 8-12 years) with
            High-Functioning autism and
            their parents to
            take part in an Emotion Detection research study.</p>

        <ul class="actions">
            <li><a href="/summary" class="button alt">Learn More</a></li>
        </ul>
    </div>
</section>

<!-- One -->
<section id="one">
    <div class="inner">
        <header>
            <h2>About the Project</h2>
        </header>
        <p>This project's research aims to create a computer system to automatically recognise emotions in children with
            high-functioning ASD
            to be used in future to support interventions for autism spectrum disorder treatment. This research was
            approved by both the NUI Galway’s Data Protection Officer and the NUI Galway’s Ethics Committee. </p>
        <ul class="actions">
            <li><a href="/about_project" class="button alt">Learn More</a></li>
        </ul>
    </div>
</section>

<!-- Two -->
<section id="two">
    <div class="inner">
        <article>
            <div class="content">
                <header>
                    <h3>WE ARE RECRUITING PARTICIPANTS</h3>
                </header>
                <div class="image fit">
                    <a href="/information"><img src="../static/images/participants.png" alt=""/></a>
                </div>
                <p>We are looking for children (age 8-12 years) with High-Functioning autism and their parents to take
                    part in an Emotion Detection research study.</p>
            </div>
        </article>
        <article class="alt">
            <div class="content">
                <header>
                    <h3>The researchers</h3>
                </header>
                <div class="image fit">
                    <a href="/researchers"><img src="../static/images/researchers.png" alt=""/></a>
                </div>
                <p>The study is being conducted by Annanda Sousa (NUI Galway) under the supervision of Prof.
                    Mathieu d’Aquin (NUI Galway), Dr Jennifer Holloway (NUI Galway) and Dr Manel Zarrouk (Université Paris 13).</p>
            </div>
        </article>
    </div>
</section>

<!-- Three -->
<section id="three">
    <div class="inner">

        <article>
            <div class="content">
                <span class="icon fa-balance-scale"></span>
<!--                <i class="fas fa-balance-scale"></i>-->
                <header>
                    <h3>Participants' rights</h3>
                </header>
                <p>As participant of a research study, you have several rights. You get to know them here.</p>
                <ul class="actions">
                    <li><a href="#" class="button alt">Learn More</a></li>
                </ul>
            </div>
        </article>
        <article>
            <div class="content">
                <span class="icon fa-lock"></span>
                <header>
                    <h3>Data Protection</h3>
                </header>
                <p>This project is compliant with General Data Protection Regulation (GDPR).</p>
                <ul class="actions">
                    <li><a href="#" class="button alt">Learn More</a></li>
                </ul>
            </div>
        </article>
        <article>
            <div class="content">
                <span class="icon fa-file"></span>
<!--                <i class="fas fa-file-download"></i>-->
                <header>
                    <h3>Documents</h3>
                </header>
                <p>Where you can find all the documents about this project.</p>
                <ul class="actions">
                    <li><a href="#" class="button alt">Learn More</a></li>
                </ul>
            </div>
        </article>
    </div>
</section>

<!-- Footer -->
{% include 'footer.html' %}



</body>
</html>