<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
{% include 'head.html' %}
<body>

<!-- Header -->
{% include 'header.html' %}

<!-- Main -->
<section id="main">
    <div class="inner">
        <header class="major special">
            <h1>Information to participants</h1>
            <p>Thank you for your interest in this research. In this page you can find detailed information about the
                project to help you deciding if you want to
                allow your child to be part in this research.
            <ul>
                <li>Find a summary of this information <a href="/summary">here</a>.</li>
                <li>Find all documents in pdf format <a href="/documents">here</a>.
                </li>
            </ul>
            </p>
            <center><img src="../static/documents/flyer.png" id="flyer_recruitment"></center>
        </header>
        <h4>TAKING PART IN THIS STUDY IS VOLUNTARY</h4>
        <p>You may choose not to allow your child to take part in the study or may choose for your child to leave the
            study at any time. Deciding not to allow your child to participate, or later deciding to remove your child
            from the study, will not result in any penalty or loss of benefits to which you and/or your child are
            entitled and will not affect your or your child’s relationship with NUI Galway. </p>
        <h4>WHO CAN TAKE PART? </h4>
        <p>Children with age of 8-12 years with a previous diagnosis of Autism Spectrum Disorder (ASD) without a history
            of intellectual and language disability, also known as Level 1 diagnosis of autism. </p>
        <h4>HOW MANY PEOPLE WILL TAKE PART?</h4>
        <p>If you agree to allow your child to participate, your child will be one of 12 participants taking part in
            this study.</p>
        <h4>WHAT WILL HAPPEN DURING THE STUDY?</h4>
        <p>
            If you agree to allow your child to be in the study, your child will be asked to attend online study
            sessions to do the following things:
        <ul>
            <li>Engage with four computer-based activities that will stimulate them to go through different emotional
                zones, the activities are, watching two small videos, solving a math worksheet and playing a game.
            </li>
        </ul>
        The sessions will be held online through a video conference software, i.e. Zoom. The video conference session
        will be recorded.
        <br><br>
        You are also asked to be part of this study by doing the following:
        <ul>
            <li>Before the first session, answer questions about the special interests of your child, what usually
                calms and upset them. The questionnaire is expected to take less than 5 minutes.
                <!--                This will help us to-->
                <!--                define specific activities to your child do during the online session.-->
            </li>
            <li> Posterior to your child's session, we will ask you to attend an online session to watch the recorded
                video of your child and identify your child’s
                emotions from the video. This will also be done online. We will schedule a video call with you to give
                you instructions on this.
            </li>
            <li>After having identified your child’s emotion from the recorded video, answer a questionnaire about how
                your child expresses emotions. It is expected to take less than 5 minutes.
            </li>
        </ul>
        You and your child will be asked to attend on two different days each. We will schedule a date/time that is most
        convenient for you and your child to attend. The sessions will be held online through a video conference
        software, <strong> so you will need a computer with camera, microphone and internet connection to be able to
        attend the
        sessions</strong>.
        <br>
        Your child’s sessions are separated from yours. We will schedule different times for them.


        </p>
        <h4>HOW LONG WILL IT TAKE?</h4>
        <p>Each session is expected to take around 30 minutes. You and your child are required to attend to two
            different
            online sessions in different days. Your child’s sessions are separated from yours. We will schedule
            different times for them. </p>

        <h4>WHEN AND WHERE WILL THIS HAPPEN?</h4>
        <p>The sessions will be held online through a video conference software, i.e. Zoom at a date to be yet
            agreed.</p>

        <h4>ARE THERE REQUIREMENTS TO BE PART OF THIS STUDY?</h4>
        <p>Yes. Because the study will be held online thought a video conference, it is necessary that your household
            has a computer equipped with camera and microphone to be used to connect to the study sessions. Also, your
            child will need to wear a headset or earplug to listen the audio during the session. We also kindly ask you
            to be present during your child's session. </p>

        <h4>WILL MY CHILD’S ASSENT TO BE PART OF THIS RESEARCH BE REQUIRED? </h4>
        <p>Yes. If you agree to allow your child to participate, we will talk to them using age-appropriate language and
            ask if they desire to be part of this study. If your child doesn’t agree in be part of this study, they
            won’t, even if you had already agreed with it. For your child be part of this study, both you and they need
            to agree. If you request, the researchers will show you the material that will be used to seek for your
            child’s assent.</p>

        <h4>WHAT ARE THE RISKS OF TAKING PART IN THE STUDY?</h4>
        <p>
            The study's tasks are designed to elicit a change in emotion. They are everyday tasks many children
            encounter and so these tasks serve to create typical scenarios that children with autism often experience.
            There is a possibility the study may cause some temporary level of emotional stress on the children
            participating in it through two tasks: Playing a game and answering a math quiz. Because of that, we put in
            place actions to ensure the emotional wellbeing of the participants. Those actions are: After each of the
            tasks, there are calming contents to support the child's emotion regulation, for example, child-friendly
            guided breathing exercises. On top of that, the child can request for a pause or to stop the session
            altogether. Another key point to make sure the child is well is the presence of the parent, who can also
            request a pause or to stop the session. Additionally, the researcher conducting the study received training
            on how to interact with children with autism and is supported by researchers, during the sessions, with
            extensive experience in working with children with autism. They have the training and experience on how to
            intervene if the child becomes upset during the study. The actions described above were reviewed and
            approved by both the University's Research Ethics Committee and the University's Data Protection Officer.


            <!--            While participating in the study, because it involves evoking emotions from your child, the possible risk-->
            <!--            includes:-->
            <!--        <li>A risk of the child feels emotional discomfort and gets agitated or lose control of their emotions during-->
            <!--            the activities they engage with.-->
            <!--        </li>-->
            <!--        <br>-->
            <!--        To minimise this risk the following measures will be employed:-->
            <!--        <ul>-->
            <!--            <li>The time of each session will be divided, and calming activities will be done to help the child to-->
            <!--                regulate their emotions. Some examples of calming activities include breathing exercises, observing-->
            <!--                moving objects between others.-->
            <!--            </li>-->
            <!--            <li>A psychology student with experience supporting children with autism will be present all the time to-->
            <!--                provide timely comfort or take any further measure to guide your child to a calming state.-->
            <!--            </li>-->
            <!--            <li>At the beginning of the session, we will agree with your child a code of a movement they can perform-->
            <!--                if they feel like stopping the session. During the time of the session, if they indicate they want to-->
            <!--                pause, the study will be immediately paused. After taking a few minutes, we will ask your child if they-->
            <!--                desire to continue. If not, the current session will be finished immediately.-->
            <!--            </li>-->
            <!--        </ul>-->
        </p>
        <h4>WHAT ARE THE POTENTIAL BENEFITS OF TAKING PART IN THE STUDY?</h4>
        <p>We don’t expect your child to receive any direct benefit from taking part in this study, but we hope to learn
            things that will help children with Level 1 Diagnosis of ASD in the future. By accepting to allow the
            participation of your child, you will be collaborating to the advance of this research and any other based
            on it, which can lead to future discoveries and development of tools to help children like yours.</p>

        <h4>WHAT WILL BE DONE WITH MY CHILD’S RECORDS? </h4>
        <p>We will transform the original audio/video records of your child into a numerical representation (set of
            numbers) to be used to create the emotion identifier computer system. When this process is complete,
            identifying information from your child will not be present anymore. In other words, it will not be possible
            to identify your child from this numerical representation.
            <br><br>
            The records will only be accessible to members of the research team and will be kept securely, in strict
            accordance with the General Data Protection Regulation (GDPR).
            <br><br>
            Your child’s data <strong>will not</strong> be used for any kind of profiling or marketing content.
            Arrangements are in place
            so that yours and your child’s personal data will be processed only as is necessary to achieve the objective
            of the research and will not be processed in a way that damage or distress will be caused to you and your
            child.

        </p>

        <h4>HOW WILL MY CHILD’S INFORMATION BE PROTECTED? </h4>
        <p>
            With your permission, we are recording audio/video of your child as a part of the study. Every effort will
            be made to keep your child’s personal information confidential. This project is compliant with the
            recommendation of the General Data Protection Regulation (GDPR), an European regulation to protect the
            rights
            of people regarding their personal data. We created a plan with measures to protect yours and your child’s
            personal data which was approved by both the NUI Galway’s Data Protection Officer and the NUI Galway’s
            Ethics Committee (an ethics committee that helps protect people involved in research).
            The measures include the following:

        <ul>
            <li>Keep yours and your child’s personal data stored in a secure, encrypted and password-protected server
                within NUI Galway premises (Data Science Institute/NUI Galway) for no longer than 3 years.
            </li>
            <li>Keep the storage server isolated from the internet, the only possible connection being from inside the
                Data Science Institute/NUI Galway's network.
            </li>
            <li>The only people who will have access to yours and your child’s personal data records are the researchers
                listed above.
            </li>
            <li>After 3 years, all the personal data will be deleted.</li>
            <li>We are not going to share yours and your child’s personal data with anyone else.</li>
            <li>No information which could identify you or your child will be shared in publications about this study.
            </li>
        </ul>
        Please bear in mind that your child’s personal information may be disclosed if required by law.
        </p>

        <h4>WILL MY CHILD’S INFORMATION BE USED FOR RESEARCH IN THE FUTURE?</h4>
        <p>
            Your child’s audio/video records will not be used or distributed for future research studies without your
            consent.
            <br>
            This research involves processing the original audio/video records from your child into a numerical
            representation to be used to create the emotion identifier computer system. This processed numerical
            representation may be used for future research studies or shared with other researchers for future research.
            If this happens, information which could identify your child will be removed before any information is
            shared. Since identifying information will not be present, we will not ask for your additional consent.

        </p>

        <h4>WILL I BE PAID FOR PARTICIPATION? </h4>
        <p>Your child will not be provided with any payment to take part in the research. </p>

        <h4>CAN I HAVE ACCESS TO MY CHILD’S RECORDED DATA? </h4>
        <p>Yes. It is your right to request and have access to this data. If you desire to have a copy of your child’s
            records, please contact us <a href="/contact" target="_blank">here</a> and we will hand you an encrypted
            DVD media with a copy of your child’s records.
        </p>

        <h4>WILL I BE INFORMED OF THE OUTCOME OF THIS RESEARCH STUDY? </h4>
        <p>If you want, you can receive information about this research study’s results. Please contact us <a
                href="/contact"
                target="_blank">
            here </a> and we will contact you with general and anonymised results from this
            research by the end of its lifetime, around 3 years. </p>

        <h4>WHAT IF I CHANGED MY MIND AFTER THE STUDY AND DON’T WANT MY CHILD’S PERSONAL DATA STORED ANYMORE?</h4>
        <p>In general, you have the right to request your child’s data to be deleted before the 3 years of retention
            time. However, other law conditions may also apply. So, if you desire to have your child’s records deleted,
            please, contact us <a href="/contact" target="_blank">here</a> and we will deal with this request on a
            case-by-case basis, in accordance with the law.</p>

        <h4>WHO SHOULD I CALL WITH QUESTIONS OR PROBLEMS?</h4>
        <p>
            For questions about the study, contact me at any time by email at <a
                href="mailto:a.defreitassousa1@nuigalway.ie">a.defreitassousa1@nuigalway.ie</a> or
            <a href="mailto:annanda.sousa@insight-centre.org">annanda.sousa@insight-centre.org</a>. I will be happy to
            answer any question you have about the project. You can also contact my
            supervisors Prof. Mathieu d’Aquin at <a
                href="mailto:mathieu.daquin@insight-centre.org">mathieu.daquin@insight-centre.org</a> or Dr Manel
            Zarrouk at
            <a href="mailto:zarrouk@lipn.univ-paris13.fr">zarrouk@lipn.univ-paris13.fr</a>. </p>
        <p>
            For questions about your or your child’s rights as a research participant, to discuss problems, complaints,
            or
            concerns about a research study, please contact the NUI Galway Data Protection Officer, details provided
            below:
            <br>
            Peter Feeney<br>
            The Data Protection Officer<br>
            NUI Galway, Room A129,<br>
            The Quadrangle,<br>
            NUI Galway University Road,<br>
            Galway<br>
            Email: peter.feeney@nuigalway.ie or dataprotection@nuigalway.ie<br>
            Phone number: +353 91 493673
        </p>
        <p>
            If you have any concerns about this study and wish to contact someone independent and in confidence, you may
            contact the Chairperson of the NUI Galway Research Ethics Committee, c/o Office of the Vice President for
            Research, NUI Galway, by phone at +353 91 495312 or by email at ethics@nuigalway.ie.
        </p>
        <p>
            You also have the right to lodge a complaint with the Data Protection Commissioner of Ireland, details
            provided
            below:<br>
            <a href="https://www.dataprotection.ie/en/contact/how-contact-us" target="_blank">https://www.dataprotection.ie/en/contact/how-contact-us</a><br>
            Phone numbers:
            +353 578 684 800 or +353 761 104 800 09:15 - 17:30hrs (17.15 Friday)
            <br>
            <br>

            Postal Address:<br>
            Data Protection Commission<br>
            21 Fitzwilliam Square South<br>
            Dublin 2<br>
            D02 RD28<br>
            Ireland
        </p>

        <h4>Thank you kindly for taking the time to read this and we are looking forward to hearing from you.</h4>
        <small>Last Updated: 17th August, 2021.</small>
    </div>
</section>

<!-- Footer -->
{% include 'footer.html' %}

<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/skel.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>

</body>
</html>