<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
{% include 'head.html' %}
<body>

<!-- Header -->
{% include 'header.html' %}

<!-- Main -->
<section id="main">
    <div class="inner">
        <header class="major special">
            <h1>Information to participants</h1>
            <p>Thank you for your interest in this research. In this page you can find detailed information about the
                project to help you deciding if you want to
                allow your child to be part in this research.
            <ul>
                <li>Find a summary of this information <a href="/about_project#summary">here</a>.</li>
                <li>Find all documents in pdf format <a href="/documents">here</a>.
                </li>
            </ul>
            </p>
        </header>
        <h4>TAKING PART IN THIS STUDY IS VOLUNTARY</h4>
        <p>You may choose not to allow your child to take part in the study or may choose for your child to leave the
            study at any time. Deciding not to allow your child to participate, or later deciding to remove your child
            from the study, will not result in any penalty or loss of benefits to which you and/or your child are
            entitled and will not affect your or your child’s relationship with NUI Galway and the support group for
            social skills. </p>
        <h4>WHO CAN TAKE PART? </h4>
        <p>Children with age of 8-12 years with a previous diagnosis of Autism Spectrum Disorder without a history of
            Intellectual and language Disability, also known as High-Functioning ASD. We also invite the children's
            parents/guardian to participate in the study. </p>
        <h4>HOW MANY PEOPLE WILL TAKE PART?</h4>
        <p>If you agree to allow your child to participate, your child will be one of 12 participants taking part in
            this study.</p>
        <h4>WHAT WILL HAPPEN DURING THE STUDY?</h4>
        <p>
            If you agree to allow your child to be in the study, your child will be asked to attend study sessions to do
            the following things:
        <ul>
            <li>Engage with computer-based activities that will stimulate them to go through different emotional
                zones, example of activities is, watching video, solving a math worksheet and playing a game.
            </li>
            <li>Use a wristband device to record their heart rate during the visit.</li>
        </ul>
        They will be recorded (audio and video) by a camera during the visit.

        You are also asked to be part of this study by doing the following, after and/or during your child’s sessions:
        <ul>
            <li>To use a computer-based software to watch the recorded video of your child and identify your child’s
                emotions from the video.
            </li>
            <li> Before the first visit, answer questions about the special interests of your child, what usually calms
                and upset them. The questionnaire is expected to take less than 5 minutes. This will help us to define
                specific activities to your child do during the visits.
            </li>
        </ul>
        You and your child will be asked to attend on 3 different days. The study will happen in the NUI Galway School
        of Psychology in a room yet to be defined. We will schedule a date/time that is most convenient for you and your
        child to attend.

        </p>
        <h4>HOW LONG WILL IT TAKE?</h4>
        <p>Each session is expected to take around 30 minutes. You and your child are required to attend to 3 different
            sessions in different days.</p>

        <h4>WHEN AND WHERE WILL THIS HAPPEN?</h4>
        <p>The sessions will take place at School of Psychology - NUI Galway at a date to be yet agreed.</p>

        <h4>WILL MY CHILD’S ASSENT TO BE PART OF THIS RESEARCH BE REQUIRED? </h4>
        <p>Yes. If you agree to allow your child to participate, we will talk to them using age-appropriate language and
            ask if they desire to be part of this study. If your child doesn’t agree in be part of this study, they
            won’t, even if you had already agreed with it. For your child be part of this study, both you and they need
            to agree. If you request, the researchers will show you the material that will be used to seek for your
            child’s assent.</p>

        <h4>WHAT ARE THE RISKS OF TAKING PART IN THE STUDY?</h4>
        <p>
            While participating in the study, because it involves evoking emotions from your child, the potential risk
            includes:
        <li>A risk of the child feels emotional discomfort and gets too agitated or lose control of their emotions
            during the activities they engage with.
        </li>
        <br>
        To minimise this risk the following measures will be employed:
        <ul>
            <li>The time of each visit will be divided, and calming activities will be done to help the child to
                regulate their emotions. Some examples of calming activities can include breathing exercises, observing
                a moving object between others.
            </li>
            <li>A therapist specialising in autism will be present all the time to provide timely comfort or take any
                further
                measure to guide your child to a calming state.
            </li>
            <li>Your child will have physical access to an image indicating STOP with the instruction that at any moment
                if
                they want to stop, they can touch the image and the study will be immediately paused. After taking a few
                minutes, we will ask your child if they desire to continue. If not, the current session will be finished
                immediately.
            </li>
        </ul>
        </p>
        <h4>WHAT ARE THE POTENTIAL BENEFITS OF TAKING PART IN THE STUDY?</h4>
        <p>We don’t expect your child to receive any direct benefit from taking part in this study, but we hope to learn
            things that will help children with high-functioning ASD in the future. By accepting to allow the
            participation of your child, you will be collaborating to the advance of this research and any other based
            on it, which can lead to future discoveries and development of tools to help children like yours.</p>
        <h4>WHAT WILL BE DONE WITH MY CHILD’S RECORDS? </h4>
        <p>We will transform the original audio/video/heart rate records from your child into a numerical representation
            (set of numbers) to be used to create the emotion identifier computer system. When this process is complete,
            identifying information from your child will not be present anymore. In other words, it will not be possible
            to identify your child from this numerical representation.
            The records will only be accessible to members of the research team and will be kept securely, in strict
            accordance with the General Data Protection Regulation (GDPR).
            Your child’s data will not be used for any kind of profiling or marketing content. Arrangements are in place
            so that yours and your child’s personal data will be processed only as is necessary to achieve the objective
            of the research and will not be processed in a way that damage or distress will be caused to you and your
            child.
        </p>

        <h4></h4>

    </div>
</section>

<!-- Footer -->
<section id="footer">
    <div class="inner">
        <header>
            <h2>Get in Touch</h2>
        </header>
        <form method="post" action="#">
            <div class="field half first">
                <label for="name">Name</label>
                <input type="text" name="name" id="name"/>
            </div>
            <div class="field half">
                <label for="email">Email</label>
                <input type="text" name="email" id="email"/>
            </div>
            <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="6"></textarea>
            </div>
            <ul class="actions">
                <li><input type="submit" value="Send Message" class="alt"/></li>
            </ul>
        </form>
        <div class="copyright">
            &copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images <a
                href="https://unsplash.com/">Unsplash</a>
        </div>
    </div>
</section>

<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/skel.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>

</body>
</html>