<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
{% include 'head.html' %}
<body>

<!-- Header -->
{% include 'header.html' %}

<!-- Main -->
<section id="main">
    <div class="inner">
        <header class="major special">
            <h1>Participants' Rights</h1>
            <p>On this page you can find the rights you and your child are entitled as a participant in this research study.</p>
        </header>
        <p>
            <a href="https://www.dataprotection.ie/en/individuals/rights-individuals-under-general-data-protection-regulation"
               target="_blank">Rights of Individuals under the General Data Protection Regulation</a></p>
        </p>

        <p>
        <ul>
            <li><strong>The right to be informed and give their explicit consent</strong>. For you and your child to be
                part of
                this study, you need to give your explicit consent, by signing the <a href="/documents" target="_blank">consent
                    form</a>.
            </li>
            <li><strong>The right to access information</strong>. You can find on this website all the needed
                information to
                support you in your decision
                of taking part in this study. You can download all the documents <a href="/documents">here</a>, if you
                agree to take part in this
                study, we will give you a printed version too.
            </li>
            <li><strong>The right to access to their own data</strong>. It is your right to request and have access to
                your child's data. If you desire to have a copy of your child’s records, please fill the <a href="/contact">online
                    form</a> and we will
                hand you an encrypted DVD media with a copy of your child’s records.
            </li>
            <li><strong>The right to be forgotten</strong>. In general, you have the right to request your child’s data
                to be deleted before the 3 years of retention
                time. However, other law conditions may also apply. So, if you desire to have your child’s records
                deleted,
                please, fill this <a href="/contact" target="_blank">online form</a> and we will deal with this request on a
                case-by-case basis, in accordance with the law.
            </li>
            <li><strong>The right to withdraw the study</strong>. Deciding not to allow your child to participate, or
                later deciding to remove your child
                from the study, will not result in any penalty or loss of benefits to which you and/or your child are
                entitled and will not affect your or your child’s relationship with NUI Galway and the support group for
                social skills. Also, during the study, if child wants
                to take a break, they can have a break or even stop
                altogether the session without needing to explain. In order to support this right for the children, an
                age appropriate material will
                be created, with images indicating “NO” or “STOP” and kept at the reach of the child, so they can, at
                any time during the study, touch the message indicating to stop the session. So it will be over
                without need of explanations.
            </li>
            <li><strong>The right to rectification</strong>. You have the right to
                rectify any inaccurate data (specific applied to the questionnaire will answer
                before the study, about your child's preferences) during any time that the personal data will be
                retained. You
                can request this right through the <a href="/contact" target="_blank">online form</a>.
            </li>
        </ul>
        </p>

    </div>
</section>

<!-- Footer -->
{% include 'footer.html' %}

<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/skel.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>

</body>
</html>