<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
{% include 'head.html' %}
<body>

<!-- Header -->
{% include 'header.html' %}

<!-- Main -->
<section id="main">
    <div class="inner">
        <header class="major special">
            <h1>About the Project</h1>
            <p>Emotion Detection System for Children with Level 1 Diagnosis of Autism</p>
        </header>
        <!--        <a href="#" class="image fit"><img src="../static/images/pic11.jpg" alt=""/></a>-->
        <p>The purpose of this study is to collect data on how children with level 1 diagnosis of autism express
            emotions to create a computer system that can identify emotions from children with level 1 diagnosis of
            autism using video, and audio records. Today, because children with autism express emotions differently than
            the neurotypical population, emotion identification technology does not work well for them. </p>
        <p>Emotions of children with ASD (Autistic Spectrum Disorder) are particularly important. Their emotional state
            usually determines how willing and ready they are to learn and to interact with the world around them. When
            the child is anxious or agitated, it is harder for them to learn or process instructions. When the child is
            calm, it is easier to guide them to learn and/or engage in social interactions. Having an Emotion Detection
            systems specifically for children with ASD can bring a benefit when using a computer program as part of
            evidence-based intervention supports for ASD. One example of potential future application is a game that teaches children with level 1 diagnosis of autism
            how to start a conversation in a school cafeteria. If the game identifies that the child is anxious,
            agitated, or angry, it will automatically present a calming activity to relax the child, so they would be in
            a state of calming readiness to learn again and to continue engaging with a tool that is a therapy for
            them. </p>
        <p>Also, creating an emotion identification computer system that works well for children with autism will
            increase inclusion for them because they will be able to use a technology that also works well for them.
            Emotion recognition is a technology widely available for neurotypical people, but not for people with
            autism. Our aim is to fill that gap by adapting the technology to the way people with autism express
            emotions. </p>

        <p>If you are interested in taking part in this study, please read about the participation <a href="/summary">here</a>.
        </p>

        <small>Last updated: 5th August, 2021.</small>


    </div>
</section>

<!-- Footer -->
{% include 'footer.html' %}

<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/skel.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>

</body>
</html>