<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
{% include 'head.html' %}
<body>

<!-- Header -->
{% include 'header.html' %}

<!-- Main -->
<section id="main">
    <div class="inner">
        <header class="major special">
            <h1>Researchers</h1>
            <p>The study is being conducted by Annanda Sousa (a PhD candidate in the College of Science and
                Engineering and Informatics, Data Science Institute - NUI Galway) under the supervision of Prof. Mathieu
                d’Aquin (Data Science Institute/NUI Galway), Karen Young (Data Science Institute/NUI Galway), Dr
                Jennifer Holloway (School of Psychology/NUI
                Galway) and Dr Manel Zarrouk (USPN University Sorbonne Paris North).<br> <br> This project is funded by
                the Science Foundation of Ireland (SFI).</p>
            <small>Last Updated: 23rd July,2021.</small>
        </header>
        <!--        <a href="#" class="image fit"><img src="../static/images/pic11.jpg" alt=""/></a>-->
        <!--        <p>Vis accumsan feugiat adipiscing nisl amet adipiscing accumsan blandit accumsan sapien blandit ac amet-->
        <!--            faucibus aliquet placerat commodo. Interdum ante aliquet commodo accumsan vis phasellus adipiscing. Ornare a-->
        <!--            in lacinia. Vestibulum accumsan ac metus massa tempor. Accumsan in lacinia ornare massa amet. Ac interdum ac-->
        <!--            non praesent. Cubilia lacinia interdum massa faucibus blandit nullam. Accumsan phasellus nunc integer.-->
        <!--            Accumsan euismod nunc adipiscing lacinia erat ut sit. Arcu amet. Id massa aliquet arcu accumsan lorem amet-->
        <!--            accumsan.</p>-->
        <!--        <p>Amet nibh adipiscing adipiscing. Commodo ante vis placerat interdum massa massa primis. Tempus condimentum-->
        <!--            tempus non ac varius cubilia adipiscing placerat lorem turpis at. Aliquet lorem porttitor interdum. Amet-->
        <!--            lacus. Aliquam lobortis faucibus blandit ac phasellus. In amet magna non interdum volutpat porttitor metus a-->
        <!--            ante ac neque. Nisi turpis. Commodo col. Interdum adipiscing mollis ut aliquam id ante adipiscing commodo-->
        <!--            integer arcu amet Ac interdum ac non praesent. Cubilia lacinia interdum massa faucibus blandit nullam.-->
        <!--            Accumsan phasellus nunc integer. Accumsan euismod nunc adipiscing lacinia erat ut sit. Arcu amet. Id massa-->
        <!--            aliquet arcu accumsan lorem amet accumsan commodo odio cubilia ac eu interdum placerat placerat arcu commodo-->
        <!--            lobortis adipiscing semper ornare pellentesque.</p>-->
        <!--        <p>Amet nibh adipiscing adipiscing. Commodo ante vis placerat interdum massa massa primis. Tempus condimentum-->
        <!--            tempus non ac varius cubilia adipiscing placerat lorem turpis at. Aliquet lorem porttitor interdum. Amet-->
        <!--            lacus. Aliquam lobortis faucibus blandit ac phasellus. In amet magna non interdum volutpat porttitor metus a-->
        <!--            ante ac neque. Nisi turpis. Commodo col. Interdum adipiscing mollis ut aliquam id ante adipiscing commodo-->
        <!--            integer arcu amet blandit adipiscing arcu ante.</p>-->
    </div>
</section>
<section id="two">
    <div class="inner">
        <article>
            <div class="content">
                <header>
                    <h3>Annanda Sousa</h3>
                </header>
                <div class="image fit">
                    <img src="../static/images/annanda.png" alt=""/>
                </div>
                <p>PhD candidate at Data Science Institute - NUI Galway. <a href="mailto:a.defreitassousa1@nuigalway.ie"
                                                                            target="_top">a.defreitassousa1@nuigalway.ie </a><br>
                    <a href="mailto:annanda.sousa@insight-centre.org" target="_top">annanda.sousa@insight-centre.org</a><br>
                    <a href="https://www.linkedin.com/in/annanda-sousa-182b9810a/" target="_blank">https://www.linkedin.com/in/annanda-sousa-182b9810a/</a>
                </p>
            </div>
        </article>
        <article class="alt">
            <div class="content">
                <header>
                    <h3>Prof. Mathieu d'Aquin</h3>
                </header>
                <div class="image fit">
                    <img src="../static/images/mathieu.png" alt=""/>
                </div>
                <p>Established professor in data analytics - NUI Galway. Director of <a href="https://dsi.nuigalway.ie/"
                                                                                        target="_blank">Data Science
                    Institute - NUI
                    Galway</a>.</p>
            </div>
        </article>
    </div>
    <div class="inner">
        <article class="alt">
            <div class="content">
                <header>
                    <h3>Karen Young</h3>
                </header>
                <div class="image fit">
                    <img src="../static/images/karen_photo.png" alt=""/>
                </div>
                <p>Lecturer in Information Technology at NUI Galway.</p>
            </div>
        </article>
        <article>
            <div class="content">
                <header>
                    <h3>Dr Manel Zarrouk</h3>
                </header>
                <div class="image fit">
                    <img src="../static/images/manel.png" alt=""/>
                </div>
                <p>Maîtresse de conférences (Associate-Professor), LIPN - Laboratoire d'Informatique de Paris-Nord at
                    Institut Galilée - USPN Universitiy Sorbonne Paris North. </p>
            </div>
        </article>

    </div>
    <div class="inner">
        <article class="alt">
            <div class="content">
                <header>
                    <h3>Dr Jennifer Holloway</h3>
                </header>
                <div class="image fit">
                    <img src="../static/images/jennifer.png" alt=""/>
                </div>
                <p>Director, PhD in ABA, Lecturer, School of Psychology, NUI Galway.</p>
            </div>
        </article>
        <article class="alt">
<!--            <div class="content">-->
<!--                <header>-->
<!--                    <h3>Dr Jennifer Holloway</h3>-->
<!--                </header>-->
<!--                <div class="image fit">-->
<!--                    <img src="../static/images/jennifer.png" alt=""/>-->
<!--                </div>-->
<!--                <p>Director, PhD in ABA, Lecturer, School of Psychology, NUI Galway.</p>-->
<!--            </div>-->
        </article>
    </div>

</section>



<!-- Footer -->
{% include 'footer.html' %}

<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/skel.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>

</body>
</html>