<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
{% include 'head.html' %}
<body>

<!-- Header -->
{% include 'header.html' %}

<!-- Main -->
<section id="main">
    <div class="inner">
        <header class="major special">
            <h1>THE RESEARCH - Summary</h1>
            <p>This is a summary of the aspects of the research project. Please, take the time to also read the
                <a href="/information">complete information</a> before agreeing to allow your child to be part in the
                study.</p>
            <center><img src="../static/documents/flyer.png" width="700px"></center>
        </header>
        <p> If you and your child agree to take part in this study, your child will be asked to do some activities in a
            computer that will trigger emotions responses from them (for example, happiness, excitement, anxiety) while
            they will be
            audio/video/heart rate recorded. Example of activities they will do are, watching a video, play a game and
            complete a math worksheet. This will take around 30 minutes for each session.</p>
        <p>
            If you and your child agree to take part in this study, you will be asked to attend sessions to watch the
            recorded video of your child’s session while indicates which emotion they are engaged with. You and your
            child will be required to attend 3 different sessions. The sessions will be scheduled to best suit yours and
            your child’s available time. </p>
        <p>
            Since the study involves evoking emotions from your child, we foresee possible risk of your child to become
            emotionally agitated or feel emotional stress. But we have put several measures in place to minimise this
            risk and to help your child to regulate their emotions during the study. One example is the presence of a
            therapist specialised in ASD during the whole time to provide any needed support.</p>
        <p>
            The information gathered will be treated with privacy and anonymity. No information regarding your child
            will be revealed in this research. Information will be stored safely with access only available to the
            research team listed above and it will be destroyed after 3 years. The anonymised results from the study
            will be included in a thesis and may be published and discussed at academic conferences or in journals.</p>
        <p>
            Your child doesn’t have to take part in this study if you/they don’t want to and you/they can withdraw from
            the study at any time, without saying why. If you have any questions or if anything is unclear just ask me,
            I am happy to discuss the study with you.</p>

        <p>
            Finally, thank you for taking the time to read this, and please also read the complete <a
                href="/information">Information page</a> with
            more details on this research.

        </p>
    </div>
</section>

<!-- Footer -->
{% include 'footer.html' %}

<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/skel.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>

</body>
</html>