<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
{% include 'head.html' %}
<body>

<!-- Header -->
{% include 'header.html' %}

<!-- Main -->
<section id="main">
    <div class="inner">
        <header class="major special">
            <h1>Information to participants - Summary</h1>
            <p>This is a summary of the aspects of the research project. Please, take the time to also read the
                <a href="/information">complete information</a> before agreeing to allow your child to be part in the
                study.</p>
            <center><img src="../static/documents/flyer.png" width="700px"></center>
        </header>
        <p> If you and your child agree to take part in this study:
        <li> Your child will be asked to attend two sessions to do some activities in a computer that will evoke
            emotions responses from them (for example, happiness, excitement, anxiety) while they will be audio and
            video recorded. Example of activities they will do are, watching a video, play a game and complete a math
            worksheet. This will take around 30 minutes for each session.
        </li>
        <li>You will be asked to attend sessions to watch the recorded video of your child’s session while indicates
            which emotion they are engaged with.
        </li>
        </p>
        <p>
            <strong>The sessions will happen entirely online. You and your child can participate from home. </strong>
            You and your child will be required to attend two different sessions. The sessions will be scheduled to best
            suit yours and your child’s available time. </p>
        <p>
            The study's tasks during the sessions are everyday tasks many children encounter and so these tasks serve to
            create typical scenarios that children with autism often experience. Naturally, there is a possibility that
            the study session causes some temporary level of emotional stress on the children participating in it
            through two tasks: Playing a game and answering a math quiz. Because of that, we put in place procedures to
            ensure the emotional wellbeing of the participants. One example is: After each of the tasks, there are
            calming contents to support the child's emotion regulation, for example, child-friendly guided breathing
            exercises. You can check all the other measures on the complete information sheet. You can also request to
            check the study session before you agree to allow your child to participate in it. </p>
        <p>
            The information gathered will be treated with privacy and anonymity. No information regarding your child
            will be revealed in this research. Information will be stored safely with access only available to the
            research team listed above and it will be destroyed after 3 years. The anonymised results from the study
            will be included in a thesis and may be published and discussed at academic conferences or in journals. </p>
        <p>
            Your child doesn’t have to take part in this study if you/they don’t want to and you/they can withdraw from
            the study at any time, without saying why. If you have any questions or if anything is unclear, just ask me,
            I am happy to discuss the study with you. </p>

        <p>
            Finally, thank you for taking the time to read this, and please also read the complete <a
                href="/information">Information page</a> with
            more details on this research.

        </p>
        <small>Last Updated: 5th August,2021.</small>
    </div>
</section>

<!-- Footer -->
{% include 'footer.html' %}

<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/skel.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>

</body>
</html>